form {
  display: flex;
  flex-direction: column;

  width: 80%;
  padding: 20px;
  border: 1px solid gainsboro;
}

form > div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

select {
  width: 45%;
  height: 40px;

  margin: 10px;
  padding: 5px;
  font-size: 20px;
}

.inDiv {
  width: 45%;
  height: 40px;

  margin: 5px;
  padding: 5px;
}

.inDiv > input {
  height: 40px;
}

input[readonly] {
  background-color: beige;
}